@font-face {
	font-family: "Gilroy Extrabold";
	src: url("../fonts/gilroyextrabold.woff2") format("woff2");
	src: url("../fonts/gilroyextrabold.woff") format("woff"); 
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy Light";
	src: url("../fonts/gilroylight.woff2") format("woff2");
	src: url("../fonts/gilroylight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

html {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;

	font-family: "Open Sans Light", "Tahoma", sans-serif;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.15px;

	color: #000000;
	background-color: #ffffff;
}

img {max-width: 100%;}

.feedback ul {list-style: none;}
.feedback a {text-decoration: none;}
.feedback p {margin-bottom: 0;}

.button {
	font-family: "Gilroy Extrabold";
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 3.6px;
	text-transform: uppercase;

	color: #000000;
	background-color: #f0c52e;
}

.button-state:focus {
	background-color: #f0c52e;
}

.button-state:active {
	color: rgba(0, 0, 0, 0.3);
}

.button-compare {
	font-family: "Open Sans Light";
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 0.13px;
	color: rgba(0, 0, 0, 0.5);
}

.button-compare:hover,
.button-compare:focus {
	color: #000000;
}

.button-compare:active {
	color: rgba(0, 0, 0, 0.2);
}

.site-navigation {
	background-color: #F7E397;     /*кнопкам как то отдельно задать фон?*/
}

.site-navigation a {
	color: #000000;
}

.catalog-navigation a {
	line-height: 36px;
}

.catalog-navigation > li > a,
.service-navigation a {
	font-family: "Gilroy Extrabold";
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 3.6px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.logo-link:hover,
.logo-link:focus,
.logo-html:hover,
.logo-html:focus{
	opacity: 0.6;
}

.site-navigation a:active,
.site-navigation a:active,
.logo-link:active,
.logo-html:active {
	opacity: 0.3;
}

.page-main h2 {
	font-family: "Gilroy Extrabold";
	font-size: 47px;
	line-height: 48px;
	letter-spacing: 0.47px;
}

h2.slider-title {
	font-family: "Gilroy Extrabold";
	font-size: 179px;
	line-height: 179px;
	letter-spacing: 1.79px;
	/*color: #ffffff;*/
}

p.slider-slogan {
	font-family: "Gilroy Extrabold";
	font-size: 47px;
	line-height: 56px;
	letter-spacing: 0.47px;
}

.slider-desc dt {
	font-family: "Open Sans Light";
	font-size: 13px;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0.13px;
}

.slider-desc dd {
	font-family: "Gilroy Light";
	font-size: 36px;
	font-weight: 300;
	line-height: 48px;
	letter-spacing: 0.36px;
}

.main-catalog img {             /*наверно все-таки декор?*/
	background-color: #F7E397;
}

.about_us-partner {
	font-family: "Gilroy Extrabold";
	font-size: 16px;
	line-height: 40px;
}

.main-catalog h3,
.filter legend,
.item-box a {
	font-family: "Gilroy Extrabold";
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.18px;
	color: #000000;
}

input[type=checkbox],         /*где заблокированная??? не понимаю, в стайлгайде есть*/
input[type=radio] {
	display: none;
}

input[type=checkbox]:checked + label::before {
	content: url("../img/checkbox-on.svg");
}

input[type=checkbox]:checked:hover + label::before,
input[type=checkbox]:checked:focus + label::before {
	opacity: 0.6;
}

input[type=checkbox]:checked:active + label::before {
	content: url("../img/checkbox-off.svg");
}

input[type=checkbox]:not(:checked) + label::before {
	content: url("../img/checkbox-off.svg"); 
}

input[type=checkbox]:not(:checked):hover + label::before,
input[type=checkbox]:not(:checked):focus + label::before {
	opacity: 0.6;
}

input[type=checkbox]:not(:checked):active + label::before {
	content: url("../img/checkbox-on.svg");
}

input[type=radio]:checked + label::before {
	content: url("../img/radio-on.svg");
}

input[type=radio]:checked:hover + label::before,
input[type=radio]:checked:focus + label::before {
	opacity: 0.6;
}

input[type=radio]:checked:active + label::before {
	content: url("../img/radio-off.svg");
}

input[type=radio]:not(:checked) + label::before {
	content: url("../img/radio-off.svg");
}

input[type=radio]:not(:checked):hover + label::before,
input[type=radio]:not(:checked):focus + label::before {
	opacity: 0.6;
}

input[type=radio]:not(:checked):active + label::before {
	content: url("../img/radio-on.svg");
}

.breadcrumbs a,
.breadcrumbs li {
	font-family: "Open Sans Light";
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.14px;
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
	color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
	color: rgba(0, 0, 0, 0.1);
}

.filter label {
	font-family: "Open Sans Light";
	font-size: 14px;
	line-height: 40px;
	letter-spacing: 0.14px;
	color: #464646;
}

.item-box span {
	font-family: "Gilroy Light";
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.16px;
	color: #464646;
}

.page-footer {
	color: #ffffff;
	background-color: #464646;
}

.user-footer_wrap a {
	color: rgba(255, 255, 255, 0.7);
}

.user-footer_wrap a:hover,
.user-footer_wrap a:focus {
	color: #ffffff;
}

.user-footer_wrap a:active {
	color: rgba(255, 255, 255, 0.3);
}

.service-navigation-footer a {
	font-family: "Gilroy Extrabold";
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 3.6px;
	color: #ffffff;
}

.service-navigation-footer a:hover,
.service-navigation-footer a:focus {
	color: rgba(255, 255, 255, 0.6);
}

.service-navigation-footer a:active {
	color: rgba(255, 255, 255, 0.3);
}

.phone a {
	color: #ffffff;
}

.social a:link {
	opacity: 0.3;
}

.social a:hover,
.social a:focus {
	opacity: 0.6;
}

.social a:active {
	opacity: 0.1;
}

.visually-hidden { display: none;}

.modal {display: none;}
